@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wdth,wght@87.5,400;87.5,600;87.5,700;87.5,800;100,400;100,600;100,700&display=block");

cmls-player {
	&,
	& * {
		all: unset !important;
	}
	display: inline-block !important;
	> * {
		display: none !important;
	}
	cmls-player-component {
		display: inherit !important;
	}
}
.cmls-player-mediaplayer {
	&,
	& * {
		all: unset;
	}
}
